{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}

<dev>
    <h2 class="my-0 px-3 py-3 pt-md-3 pb-md-4 mr-md-auto font-weight-normal">Блоги</h2>
</dev>

{% for object in object_list %}

<div class="col-sm-4 mb-3 mb-sm-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ object.header }}</h4>
            <p class="card-text">{{ object.slug }}</p>
            <p class="card-text">Просмотры: {{ object.views_count }}</p>
            <br>
            <a class="btn btn-outline-success" href="{% url 'blog:detail' object.pk %}">Подробнее</a>
            <a class="btn btn-outline-success" href="{% url 'blog:update' object.pk %}">Изменить</a>
            <a class="btn btn-outline-danger" href="{% url 'blog:confirm_delete' object.pk %}">Удалить</a>

            <br>
        </div>
    </div>
</div>

{% endfor %}
<div>
    <br> <br>
    <a class="btn btn-success" href="blog_form">Создать новую запись в блоге</a>
</div>
{% endblock %}

