{% extends 'base.html' %}
{% load my_tags %}

{% block content %}
{% for object in object_list %}

<div class="col-sm-4 mb-3 mb-sm-0">
    <div class="card">
        <div class="card-body">


            <h4 class="card-title">{{object}}</h4>
            <br>

            <p>{{object.description | truncatechars:100}}</p>

            <br>
            <div align="right">
                <p class="fs-3"> {{object.price}} руб.</p>
            </div>

            {% if object.image %}
            <img src={{object.image.url | media_filter}} alt="товар" width="50">
            {% endif %}
            <br><br>
            <a href="#" class="btn btn-outline-success">Купить</a>
            <a class="btn btn-outline-success" href="{% url 'catalog:product' object.pk %}">Подробнее</a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

