{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}

<dev>
    <h2 class="my-0 px-3 py-3 pt-md-3 pb-md-4 mr-md-auto font-weight-normal">Продукты</h2>
</dev>
<div class="row">
    {% if user.is_authenticated %}
    <div class="col-sm-12 mb-5">
        <a class="btn btn-success" href="{% url 'catalog:product_create' %}">Добавить продукт</a>
    </div>
    {% endif %}

</div>


{% for object in object_list %}

<div class="col-sm-4 mb-3 mb-sm-3">
    <div class="card">
        <div class="card-body">


            <h4 class="card-title">{{object}}</h4>
            <br>

            <p>{{object.description | truncatechars:100}}</p>

            {% for version in actual_version %}
            {% if version.product_id == object.pk %}
            <p>Текущая версия: {{ version }}</p>
            {% endif %}
            {% endfor %}

            <br>
            <div align="right">
                <p class="fs-3"> {{object.price}} руб.</p>

            </div>

            {% if object.image %}
            <img src={{object.image.url | media_filter}} alt="товар" width="100">
            {% endif %}
            <br><br>
            <a href="#" class="btn btn-outline-success">Купить</a>
            <a class="btn btn-outline-success" href="{% url 'catalog:product' object.pk %}">Подробнее</a>
            {% if perms.catalog.change_product or user == object.owner %}
            <a class="btn btn-outline-warning" href="{% url 'catalog:product_update' object.pk %}">Изменить</a>
            {% endif %}

        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

